.form {
  :global {
    .ant-form-item {
      margin-bottom: 12px !important;
    }
  }
}

.hidden_name {
  max-width: 250px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
